#motto {
  padding: 0;
  position: relative;
}

#motto > #motto-image {
  position: absolute;
  z-index: -1;
}

#motto > #motto-header {
  color: white;
  left: 40%;
  top: 20%;
  position: absolute;
}

@media only screen and (max-width: 800px) {
  #motto-header { font-size:190%;}
}

@media only screen and (max-width: 660px) {
  #motto-header { font-size:150%;}
}

@media only screen and (max-width: 550px) {
  #motto-header { font-size:110%;}
}

#motto > #startnow-btn {
  color: blue;
  background-color: white;
  font-size: 1.4em;
  text-decoration: none;
  left: 50%;
  top: 70%;
  border-radius: 4px;
  position: absolute;
  padding: 8px 45px 8px 45px;
}

#motto > #startnow-btn:hover {
  color: white;
  background-color: blue;
  transition: .3s;
}

.pawprints {
  transform: rotate(180deg);
  width: 20%;
}

p {
  font-size: 1.2em;
}

.cmd {
  padding-bottom: 15px;
}

img.divider {
  width: 100%;
  height: 60px;
  opacity: .15;
  position: absolute;
  z-index: -1;
}

#tools > p > a {
  text-decoration: underline;
  color: black;
}

div.cardDD-container {
  width: 259px;
  padding-top: 15px;
  padding-bottom: 15px;
}

div.cardDD-content-container {
  padding-left: 10px;
}

h1.section-heading {
  text-align: center;
  margin-bottom: 30px;
}

/* centered columns styles */
.row-centered {
    text-align:center;
}

.col-centered{
  float: none;
  margin: 0 auto;
}

#about-us p {
  float: none;
  margin: 0 auto;
  text-align: left;
  padding-left: 3px;
  padding-right: 3px;
  max-width: 280px;
}

@media screen and (max-width:650px) {
  #startnow-btn { display:none; }
}

#about-us h4 {
  margin-top: 35px;
}

div#tools p {
  text-align: center;
}

#about-us img {
  border-radius: 50%;
  width: 280px;
  height: 280px;
}

section.content {
  padding-bottom: 30px;
}
